body{
    background:#f8fafc;
}

.card{
    border:none;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

textarea{
    resize:none;
    border-radius:12px;
}

.btn{
    border-radius:10px;
}

h2{
    color:#2563EB;
}