body{

    background:#eef4ff;

}

.card{

    border:none;

}

.progress{

    height:30px;

    border-radius:20px;

}

.progress-bar{

    font-size:15px;

    font-weight:bold;

}

.text-success{

    font-size:42px;

}

.text-danger{

    font-size:42px;

}

.btn{

    border-radius:12px;

}
.card{
    border-radius:20px;
    transition:0.3s ease;
}

.card:hover{
    transform:translateY(-5px);
}

.progress{
    height:28px;
    border-radius:20px;
}

.progress-bar{
    font-weight:bold;
    transition:width 1s ease-in-out;
}

.btn{
    min-width:170px;
}