<div class="container py-5">

    <div class="row">

        <!-- Left Side -->
        <div class="col-lg-8">

            <div class="card p-4 shadow-lg rounded-4">

                <h2 class="mb-3">
                    📰 AI News Analyzer
                </h2>

                <p class="text-muted">
                    Paste a news article below and let AI verify it.
                </p>

                <form id="newsForm" action="/predict" method="POST">

                    <textarea
                        id="news"
                        name="news"
                        class="form-control"
                        rows="12"
                        placeholder="Paste news article..."
                        required></textarea>

                    <div class="d-flex justify-content-between mt-2">

                        <small id="count">0 Characters</small>

                        <small id="words">0 Words</small>

                    </div>

                    <div class="d-flex gap-2 mt-4">

                        <button
                            type="button"
                            class="btn btn-outline-secondary"
                            onclick="sampleNews()">

                            Sample

                        </button>

                        <button
                            type="button"
                            class="btn btn-outline-danger"
                            onclick="clearText()">

                            Clear

                        </button>

                        <button
                            class="btn btn-primary ms-auto">

                            Analyze News

                        </button>

                    </div>

                </form>

            </div>

        </div>

        <!-- Right Side -->
        <div class="col-lg-4">

            <div class="card p-4 shadow rounded-4">

                <h4>📊 Statistics</h4>

                <hr>

                <p><strong>Accuracy</strong><br>98%</p>

                <p><strong>Model</strong><br>Logistic Regression</p>

                <p><strong>Technique</strong><br>TF-IDF</p>

                <p><strong>Dataset</strong><br>44,898 Articles</p>

            </div>

        </div>

    </div>

</div>