<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📰 Fake News Detection System</h1>

    <form action="/predict" method="POST">

        <textarea
            name="news"
            placeholder="Paste your news article here..."
            required></textarea>

        <button type="submit">

            Check News

        </button>

    </form>

    {% if prediction %}

    <div class="result">

        <h2>{{ prediction }}</h2>

        <h3>Confidence : {{ confidence }}%</h3>

    </div>

    {% endif %}

</div>

</body>
</html>